<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Url Shortener</title>
</head>
<body>
    <div>
        <h1 class="title">Url Shortener</h1>
        <form action="/" method="POST">
            <input type="url" name="url" placeholder="Place url here..." required>
            <button class="shorten-url">Shorten url</button>
        </form>
            <% if (locals.shorturl) { %>
                <a target="_blank" href="<%= shorturl %>"><%= shorturl %> </a>
            <% } %> 
    </div>
</body>
</html>